.container {
  margin: 0 auto;
  max-width: 1000px;
}

.text-dark {
}

.bg-dark {
}

.text-secondary {
}

/* Button */
.btn {
  padding: 15px 35px;
  font-size: 16px;
  border-radius: 1px;
  background-color: var(--Verydarkblue);
  color: #fff;
  border: none;
  cursor: pointer;
}
